<section>

  <style type="text/css">
    .grid1 {
      background: indianred;
    }
    .grid2 {
      background: lightyellow;
    }
    .grid3 {
      background: lightgreen;
    }

    .grid-stack-item-content {
      color: #2c3e50;
      text-align: center;
      background-color: gold;
    }

    .grid2 .grid-stack-item-content {
      background-color: goldenrod;
    }

    .grid3 .grid-stack-item-content {
      background-color: green;
    }
  </style>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xsl-4 col-sm-4 col-md-4 grid1">
        <h3 class="text-center ">TODO</h3>
        <div gridstack class="grid-stack grid-stack-4" options="vm.options" on-change="vm.onChange(event,items)" on-drag-start="vm.onDragStart(event,ui)" on-drag-stop="vm.onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
          <div gridstack-item ng-repeat="w in vm.widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
               gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="vm.onItemAdded(item)" on-item-removed="vm.onItemRemoved(item)">
            <div class="grid-stack-item-content">
              <a class="btn btn-primary" ng-click="vm.removeWidget(w)" href="#">remove</a>
              <h4>{{w.title}}</h4>
              <h4>{{w.description}}</h4>
            </div>
          </div>
        </div>
        <h3></h3>
      </div>
      <div class="col-xsl-4 col-sm-4 col-md-4 grid2">
        <h3 class="text-center">In Progress</h3>
        <div gridstack class="grid-stack grid-stack-4" options="vm.options" on-change="vm.onChange(event,items)" on-drag-start="vm.onDragStart(event,ui)" on-drag-stop="vm.onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
          <div gridstack-item ng-repeat="w in vm.widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
               gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="vm.onItemAdded(item)" on-item-removed="vm.onItemRemoved(item)">
            <div class="grid-stack-item-content">
              <a class="btn btn-primary" ng-click="vm.removeWidget(w)" href="#">remove</a>
            </div>
          </div>
        </div>
        <h3></h3>
      </div>
      <div class="col-xsl-4 col-sm-4 col-md-4 grid3">
        <h3 class="text-center">Done</h3>
        <div gridstack class="grid-stack grid-stack-4" options="vm.options" on-change="vm.onChange(event,items)" on-drag-start="vm.onDragStart(event,ui)" on-drag-stop="vm.onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
          <div gridstack-item ng-repeat="w in vm.widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
               gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="vm.onItemAdded(item)" on-item-removed="vm.onItemRemoved(item)">
            <div class="grid-stack-item-content">
              <a class="btn btn-primary" ng-click="vm.removeWidget(w)" href="#">remove</a>
            </div>
          </div>
        </div>
        <h3></h3>
      </div>
      <div>
      <p>{{vm.widgets}}</p>
      <div>
        <a class="btn btn-primary" ng-click="vm.addWidget()" href="#">Add Widget</a>
      </div>
      <br>
    </div>
    </div>
  </div>



  <div class="page-header">
    <h1>Boards</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="board in vm.boards"
       ui-sref="boards.view({ boardId: board._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="board.created | date:'mediumDate'"></span>
        by
        <span ng-if="board.user" ng-bind="board.user.displayName"></span>
        <span ng-if="!board.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="board.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.boards.$resolved && !vm.boards.length">
    No Boards yet, why don't you <a ui-sref="boards.create">create one</a>?
  </div>

</section>
